.box {
  width: 30%;
  padding: 10em;
  margin: 0 auto 1em auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  background-color: rgb(107, 214, 121);
  color: white;
  text-align: center;
}
.changeButton {
  padding: 2%;
  margin: 1em auto 1em auto;
  width: 20%;
  border-radius: 2em;
  font-size: 120%;
  font-weight: 500;
  transition: 0.1s linear;
  &:hover {
    cursor: pointer; 
    box-shadow: 0 0 1em white;
    color: rgb(224, 224, 224);
  }
}
.description {
  width: 70%;
  margin: auto auto 2% auto;
  color: white;
  font-size: 150%;
  text-align: center;
}
.header {
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  margin: 0;
  padding: 2%;

  color: white;
  background-color: rgb(39, 77, 44);
  font-size: 2.3em;
  text-align: center;
}
