.box {
  width: 10em;
  height: 2em;
  max-width: 78vw;
  margin: 0 auto 1em auto;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(107, 214, 121);
  color: white;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 0;
  overflow: hidden;
}
.changeButton {
  padding: 1%;
  width: 6em;
  display: block;
  font-size: 1.5em;
  margin: 1rem auto;
  border-radius: 2rem;
  transition: .2s ease-in-out;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 .3em white);
  }
}

.description {
  width: 70%;
  margin: auto auto 2% auto;
  color: white;
  font-size: 150%;
  text-align: center;
  line-height: 1.6em;
}
.header {
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.paddingLineRight {
  position: relative;
  top: 0.5em;
  right: 1.9em;
  width: 1.9em;
  border-top: 2px orange solid;
  color: orange;
  padding-top: .5em;
  z-index: 1;
  text-align: center;
}
.paddingLineLeft {
  position: relative;
  top: 0.5em;
  left: 1.9em;
  width: 1.9em;
  border-top: 2px orange solid;
  color: orange;
  padding-top: .5em;
  z-index: 1;
  text-align: center;
}
.title {
  width: 100%;
  margin: 0;
  padding: 2%;

  color: white;
  background-color: rgb(39, 77, 44);
  font-size: 2.3em;
  text-align: center;
}
.widthLine {
  display: inline;
  padding: 0.5em;
  width: 18em;
  border-top: 2px white dashed;
  text-align: center;
  color: white;
  font-weight: bold;
}
.widthLineContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100vw;
}
@media only screen and (max-width: 800px) {
  
}
