.BoxSizing {
    .box {
        width: 30%;
        padding: 10em;
        
        background-color: blue;
    }
    
    header h2 {
        width: 80%;
        margin: auto auto 2em auto;
    
        color: white;
        font-size: 2.3em;
        text-align: center;
    }
    main {
        display: flex;
        flex-direction: column;
    }
}