.footer {
    width: 100vw;
    margin: 0;
    padding: 1vh;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}
.link {
    color: white;
}