.backgroundColor {
    margin: 2%;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    padding: 1%;
}
.closeButton {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    border: 1px rgb(40, 40, 83) solid;
    border-radius: 4em;
}
.colorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.controlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}
.h2 {
    margin: auto;
    width: 40%;
    text-align: center;
    color: white;
    font-size: 300%;
}
.h3 {
    color: white;
    width: 100%;
    margin: 1%;
    text-align: center;
}
.main {
    display: flex;
    align-items: center;
}
.modal {
    z-index: 1;
    position: absolute;
    left: 40%;
    top: 140%;
    padding: 1%;
    max-width: 40%;
    background-color: white;
    border: 0.3em solid rgb(40, 40, 83);
    text-align: center;
    animation: fade-in 0.5s ease-in;
}
.myButton {
    width: 70%!important;
    padding: 3%;
    font-size: 120%;
    font-weight: bold;
    border-radius: 0;
    border: none;
    color: black;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.myButton:hover {
    background-color: transparent!important;
    border: 3px solid black;
}
.p {
    margin: 1% auto 0 auto;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 150%;
    line-height: 1.6em;
}
.select {
    width: 80%;
    margin: 1%;
    font-size: 120%;
}
.shapeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 30%;
}
.title {
    padding: 2%;
    margin: 0 auto 2% auto;
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    color: white;
    background-color: rgb(40, 40, 83);
}
@media only screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .myButton {
        margin: 18% auto 2% auto;
        padding: 3vw;
    }
    .select {
        width: 33vw;
    }
    .modal {
      top: 142%;
      left: 30%;
    }
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}