.h2 {
    margin: auto;
    width: 40%;
    text-align: center;
    color: white;
    font-size: 300%;
}
.button1Container {
    width: 20%;
    margin: 3% auto 3% auto;

}
.button1 {
    width: 100%;
    padding: 1em;
    font-size: 140%;
    font-weight: 500;
}