@import './variables.scss';
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;

  text-align: center;

  font-size: 3em;
  color: white;
}
.target {
  box-sizing: content-box;
  padding: 3em;
  margin: 1em;
  width: 400px;

  border: red solid 1px;
}
.one {
  width: 100%;
  padding: 10em;

  background-color: rgb(40, 40, 83);
}
.two {
  max-width: 100%;
  padding: 0 0 2% 0;
  background-color: rgb(206, 60, 60);
}
.three {
  max-width: 100%;

  background-color: rgb(58, 116, 66);
}
.four {
  max-width: 100%;
  padding: 10em;

  background-color: rgb(122, 62, 122);
}
.five {
  max-width: 100%;
  padding: 10em;

  background-color: rgb(62, 103, 122);
}
.six {
  max-width: 100%;
  padding: 10em;

  background-color: rgb(206, 196, 66);
}



