.boxContainer {
    display: flex;
    width: 85%;
    padding: 2%;
    border: 4px white groove;
}
.codeButton {
    padding: 1%;
    font-size: 1.5em;
    margin: 1rem;
    border-radius: 2rem;
}
.controls {
    width: 100%;    
    display: flex;
    justify-content: space-around;
}
.description {
    margin: 1%;
    padding: 1%;
    width: 80%;
    color: white;
    text-align: center;
    line-height: 1.6em;
    font-size: 150%;
}
.directionLabel {
    margin: 1%;
    color: white;
    font-weight: bold;
}
.flexDirection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal {
    position: fixed;
    left: 1em;
    width: 80%;
    background-color: red;
    margin: 2em;
}
.select {
    width: 50%;
    margin: 0 auto 2% auto;
    font-size: 120%;
}
.title {
    padding: 2%;
    margin: 0 auto 2% auto;
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    color: white;
    background-color: rgb(156, 46, 46);
}

.one {
    width: 10%;
    height: 15%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(204, 53, 196);
    color: white;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    border: 2px white solid;
}
.two {
    width: 10%;
    height: 15%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(75, 124, 75);
    color: white;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    border: 2px white solid;
}
.three {
    width: 10%;
    height: 15%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(92, 63, 158);
    color: white;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    border: 2px white solid;
}
.four {
    width: 10%;
    height: 15%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(106, 171, 187);
    color: white;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    border: 2px white solid;
}
@media only screen and (max-width: 800px) {
    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .select {
        width: 80%;
    }
}