.main {
    display: flex;
    justify-content: center;
}
.select {
    width: 15%;
    margin: 0 auto 2% auto;
    font-size: 120%;
}
.title {
    padding: 2%;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    color: white;
}